.t-center {
    text-align: center;
}
.items-product {
    height: 320px;
}
.items-product img {
    height: 100%;
    object-fit: cover;
}
.p-0 {
    padding: 0;
}
.p-2 {
    padding: 20px;
}
.p-3 {
    padding: 30px;
}
.m-0 {
    margin:0;
}
#quickView {
    background-color: #002233;
}

/*Затемнение фона*/
.overlay-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(34, 34, 34, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

.modals {
    padding: 0;
    margin: 0;
    border: 2px solid salmon;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 600;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    transform: scale(2);
}
.modal-block {
    position: relative;
    margin: 1.75em auto;
    padding: 1.3em;
    height: 660px;
}
.main-layot {
    height: 100%;
    position: relative;
    overflow-y: hidden;

}
/*Block button close*/
.close-block {
    padding-bottom: 10px;
    overflow: hidden;
    position: absolute;
    top:0;
    right: 0;
    background-color: transparent;
    min-height: 32px;
}
.close-btn {
    border: 0;
    font-size: 18px;
    border-radius: 50%;
    color: white;
    background-color: transparent;
    transition: all 400ms ease;
}
.close-btn:hover {
    transform: scale(1.5);
}
/*END BLOCK*/

/*Block foto carusel*/
.main-block {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}

.main-carusel {
   height: 100%;
   background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.main-carusel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* END BLOCK */

/* Block description */
.desc-block {
    overflow-y: auto;
    background-color: white;
    height: 100%;
}
p.brw {
    min-width: 420px;
    width: 100%;
    opacity: 0;
    visibility: hidden;

}

/*END BLOCK*/

/*Block footer*/
.footer-modal {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #fff;
    height: 40px;
}
.footer-modal a {
    text-decoration: none;
    color: #2796FF;
}

/*END BLOCK*/

.show  {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}

@media (max-width: 767px) {
   .foto-block {
       height: 40%;
   }
    .desc-block {
        height: 60%;
    }
}
@media (max-width: 576px) {
    .modal-block {
        width: 100%;
    }
}
@media (max-width: 250px) {
    .footer-modal {
        font-size: 12px;
    }
    .desc-block {
        font-size: 12px;
    }
}

/*==========    Slick slider=============*/
.slick2 {
    margin-bottom: 0 !important;
}
.slick2 .slick-track {
    height: 100% !important;
}
.slick2 .slick-list {
    height: 100% !important;
}

.arrow-slick2, .arrow-slick3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.arrow-slick2 {
    top: 40%;
    border: 0;
    background-color: inherit;
    color: white;
    font-size: 80px;
    transition: all 300ms ease;
}

@media (max-width: 767px) {
    .arrow-slick2 {
        font-size: 40px;
    }
}

.arrow-slick2:hover {
    opacity: 0.6;
    visibility: visible;
}
.prev-slick2 {
    left: 10px;
}
.next-slick2 {
    right: 10px;
}

.wrap-slick2-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}
.slick2-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    height: 20px;
}

.slick2-dots li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    list-style: none;
}
.slick2-dots li button {
    color: transparent;
    background-color: #cccccc;
    border-radius: 50%;
    border:1px solid transparent;
    width: 10px;
    height: 10px;
    transition: all 500ms ease;
    background-clip: padding-box;
}
.slick2-dots li button:hover{
    cursor: pointer;
}
.slick2-dots .slick-active button{
    background-color: red;
}
/*========END slider==============*/

/* Preloader QuickView */
.preloader {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 2;
    top: 30px;
    left: 0;
    height: calc(100% - 30px);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 600ms linear;
}
.preloader:after, .preloader:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: white;
    border-radius: 50%;
    border-right: 4px solid #5AAF63;
}
.preloader:after {
    animation: 2s an1 infinite linear;
}
@keyframes an1 {
    to {
        transform: rotate(0);
    }
    from {
        transform: rotate(360deg);
    }
}
.show-preload {
    opacity: 1;
    visibility: visible;
}

/* END BLOCK */